@charset "utf-8";
/* CSS Document */

body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul,
ol, li, dl, dt, dd, form, a, fieldset, th, td {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font: 14px/1.8 "trebuchet ms", Verdana, Geneva, sans-serif;
	background: #232323 url(images/background-central.jpg) repeat-x;
	color: #ffffff;
}

#principal, #contacto {
	margin: 0 auto;
	width: 984px;
}

#topnav {
	padding: 0;
	height: 46px;
}

#topnav p {
	float: right;
	}

#topnav a {
	color: #FFF;
	background: url(images/background-topnav-btn.jpg) repeat-x 0 4px;
	padding: 16px;
	border-right: #CCC 1px dotted;
	text-decoration: none;		
}

#topnav a:hover {
	color: #FFF33F;
	background: url(images/background-topnav-btn-hover.jpg) repeat-x 0 4px;
}

#topnav h1 {
	font-size: 16px;
	font-weight: lighter;
	font-style: italic;
	color: #aaaaaa;
	padding: 10px 0 0 22px;
}

#header {
	height: 305px;
	background: #99ccff url(images/background-header.jpg) no-repeat;
}

#content {
}

#content a {
	color: #09519a;
	text-decoration: none;
}

#content a:hover {
	color: #FFF33F;
	text-decoration: underline;
}

#content h3 {
	color: #cceeee;
	font-size: 19px;
	font-weight: lighter;
}

#content h4 {
	color: #77d0e7;
	font-size: 16px;
	font-weight: lighter;
}

p, h4 {
	padding: 5px 0;
}

ul {
	margin-left: 20px;
	}
	
li {
	list-style-image: url(images/plus.png);	
}

.textBox {
	width: 290px;
	margin-right: 35px;
	float: left;
}

.clearfix {
	clear: both;
}

.tallerButton {
	width: 170px;
	height: 112px;
	float: left;
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
	line-height: 21px;
}

#taller01 {
	background-image: url(images/buttonTaller01-introduccion.png);
	background-repeat: no-repeat;
	margin-left: 40px;
}

#taller02 {
	background-image: url(images/buttonTaller02-transact.png);
	background-repeat: no-repeat;
	margin-left: -10px;
}

#taller03 {
	background-image: url(images/buttonTaller03-administracion.png);
	background-repeat: no-repeat;
	margin-left: -10px;
}

#taller04 {
	background-image: url(images/buttonTaller04-tunning.png);
	background-repeat: no-repeat;
	margin-left: -10px;
}

#taller05 {
	background-image: url(images/buttonTaller05.png);
	background-repeat: no-repeat;
}

#taller01:hover, #taller02:hover, #taller03:hover, #taller04:hover, #taller05:hover {
	background-image: url(images/buttonTaller00.png);
	}

#slider {
	height: 306px;
	background-image: url(images/background-slider.jpg);
	background-position: 20px 112px;
	background-repeat: no-repeat;
	clear: both;
	
}

#menuSinSlider {
	height: 112px;
	clear: both;
}

#slider a, #menuSinSlider a {
	color: #ffffff;	
}

#slider a:hover, #menuSinSlider a:hover {
	color: #ffffff;	
	text-decoration: none;
}

.intro {
	margin: 20px auto;
	padding-bottom: 20px;
	border-bottom: 2px dotted #666666;
	font-size: 16px;
	line-height: 36px;
	font-weight: lighter;
}

#contactoWrapper {
	background: #ffffff url(images/background-contact.jpg) repeat-x;
	padding-top: 20px;
	color: #232323;
}

#contacto h3 {
	color: #ffffff;
	background: url(images/h3bckgr.png) no-repeat;
	width: 280px;
	height: 69px;
	text-align: center;
	padding-top: 10px;
}

#contacto img {
	float: left;
	margin-right: 10px;
}

#contacto a {
	color: #09519a;
	font-size: 12px;
	text-decoration: none;
}

#contacto h2 {
	color:	#FF6600;
	font-size: 18px;
	line-height: 20px;
	text-shadow: #cccccc 1px 1px 10px;
	margin: 10px 0 10px 20px;
}

#contacto h4 {
	color: #666666;
}

.masinfo {
	margin: 10px 0;
}

.textColor {
	color: #FFF33F;
}