
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #070719;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #070719;
  outline: none;
  text-decoration: none;
}
